@font-face {
  font-family: Circular;
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
}
@font-face {
  font-family: Decima;
  src: url(../fonts/DecimaMonoX-Bold.otf);
  font-weight: 900;
}
* {
  box-sizing:border-box
}

body {
  font-size:24px
}

.soon {
  align-items:center;
  background-image:url(../img/bg-onica.jpg);
  background-position:center;
  background-size:cover;
  display:flex;
  justify-content:center;
  min-height:100vh
}

.soon>h1 {
  font-family:Circular;
  font-size:1.602em;
  font-weight:900;
  margin-bottom:1.1em
}

.placeholder {
  align-items:center;
  background-position:center;
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:100vh;
  padding-bottom:5.5vh;
  padding-top:9.5vh
}

.placeholder>h1>svg {
  height:25vh;
  max-width:90vw;
  min-width:30vw
}

.placeholder>h3 {
  font-family:Decima,sans-serif;
  font-size:1.602em;
  font-weight:900;
  margin-bottom:1.1em
}

.placeholder>h3>a {
  color:#172da9;
  text-transform:uppercase
}

.placeholder>footer {
  display:flex
}

.placeholder>footer svg {
  fill:#172da9;
  height:4.2vh;
  padding:0 1.5vw
}

@media screen and (max-width: 320px){
  .soon>h1 {
    font-size:1.296em;
    margin-bottom:1.067em
  }
}

@media screen and (min-width: 768px){
  .soon>h1 {
    font-size:2.074em;
    margin-bottom:1.25em
  }
}

@media screen and (min-width: 960px){
  .soon>h1 {
    font-size:2.441em;
    margin-bottom:1.333em
  }
}

@media screen and (min-width: 1200px){
  .soon>h1 {
    font-size:2.827em;
    margin-bottom:1.414em
  }
}