@font-face {
  font-family: circularstd-black;
  src: url("../fonts/CircularStd-Black.otf");
}

@font-face {
  font-family: circularstd-medium;
  src: url("../fonts/CircularStd-Medium.otf");
}


@font-face {
  font-family: decima-mono;
  src: url("../fonts/DecimaMonoX.otf");
}

@font-face {
  font-family: decima-mono-bold;
  src: url("../fonts/DecimaMonoX-Bold.otf");
}

@font-face {
  font-family: decima-mono-light;
  src: url("../fonts/DecimaMonoX-Light.otf");
}

:root {
  --main-blue: #0029ad;
  --secondary-blue: #002a93;
  --white: #fff;
  --menu-grey: #e8eaee;
  --font-1: circularstd-black;
  --font-2: decima-mono;
  --font-3: decima-mono-bold;
  --font-4: decima-mono-light;
  --font-5: circularstd-medium;

}

.main-desktop {
  display: none;
}

.logo-desktop {
  display: none;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

section {
  display: flex;
  flex-flow: row wrap;
}

.container {
  overflow: hidden;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 33px 20px 33px;
  align-items: baseline;
}

.top-bar-desktop {
  display: none;
}

#logo {
  width: 164px;
}

.menu-hamburguer {
  width: 42px;
  cursor: pointer;
}

main {
  min-height: 200px;
}

footer {
  background-color: var(--secondary-blue);
  min-height: 355px;
  color: var(--white);
  padding: 35px 60px;
  font-family: var(--font-4);
  font-size: 15px;
  z-index: 10;
  position: relative;
}

.footer-logo {
  display: none;
}

footer .social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 0;
}

footer .menu-social {
  background-color: var(--secondary-blue)
}

footer .social img {
  max-width: 100%;
  max-height: 100%;
}

footer .social a {
  width: 27px;
  height: 27px;
}

#copyright {
  font-size: 14px;
  font-family: var(--font-1);
}

nav ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.menu-mobile {
  height: 100vh;
  background-color: var(--menu-grey);
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: none;
  z-index: 1000;
  flex-flow: row wrap;
}

.menu-top {
  background-color: var(--main-blue);
  height: 62.5vh;
  flex: 1 100%;
}

.menu-top > svg {
  display: none;
}

.menu-top-bar {
  color: var(--white);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3% 4% 0px 4%;
  font-family: var(--font-2);
  font-size: 19px;
}

.copyright {
  display: none;
}

.menu-top-bar svg, .menu-top svg {
  width: 5%;
  height: 5%;
  cursor: pointer;
  stroke: white;
}

.menu-ham {
  margin: 30px 0 0 0;
  display: flex;
  flex-flow: row wrap;
}

.menu-ham li {
  flex: 1 100%;
}

.menu-ham a {
  font-family: var(--font-1);
  color: transparent;
  font-size: 8vh;
  -webkit-text-stroke: 0.7px white;
}

.menu-ham a.selected {
  color: var(--white);
}

.menu-foo {
  margin: 0;
  padding: 7% 7% 26px 7%;
  background-color: var(--menu-grey);
  box-sizing: border-box;
  flex: 1 100%;
}

.menu-foo li {
  height: 25px;
}

.menu-foo a {
  color: var(--main-blue);
  text-decoration: none;
  font-weight: lighter;
  font-family: var(--font-4);
  font-size: 16px;
}

.menu-foo li:first-child a {
  font-size: 5vh;
  font-weight: bold;
  font-family: var(--font-3);
  letter-spacing: 1px;
}

.menu-foo li:first-child {
  color: var(--main-blue);
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10%;
}

.menu-desktop-icons {
  display: none;
}

.menu-mobile-icons {
  display: block;
}

.menu-mobile-icons img {
  object-fit: contain;
}

.menu-bottom {
  flex: 1 100%;
}

.menu-social {
  background-color: var(--menu-grey);
  margin: 0;
  padding: 0 7% 5%;
  display: flex;
  justify-content: space-between;
  /* max-width: 382px; */
  margin: 0 auto;
  flex: 1 100%;
}

.menu-social li {
  max-width: 30px;
  max-height: 30px;
}

.menu-social a {
  display: block;
}

.menu-social img {
  /* max-width: 100%; */
  max-height: 100%;
}

.with-square,
.without-square {
  justify-content: center;
  align-items: center;
  align-content: baseline;
  position: relative;
  min-height: 580px;
}

.with-square p {
  z-index: 30;
  font-family: var(--font-3);
  text-decoration: underline;
  font-size: 44px;
  color: var(--main-blue);
}

.square {
  justify-self: baseline;
  position: absolute;
  left: 0;
  align-self: baseline;
  height: 490px;
  width: 420px;
  z-index: 1;
}

.square-first {
  height: 510px;
  width: 340px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 80px;
}

.without-square {
  position: relative;
  min-height: 500px;
}

.without-square > .square-first {
  width: 300px;
  height: 365px;
  left: 25%;
  top: 95px;
}

.standing-woman,
.standing-woman-1,
.standing-woman-2,
.standing-woman-3,
.standing-woman-black,
.standing-woman-black-1 {
  position: absolute;
  width: 280px;
  height: 325px;
}

.standing-woman {
  margin: 0 auto;
  top: 65px;
  z-index: 10;
}

.standing-woman-1 {
  margin: 0 auto 0 9%;
  top: 18px;
  z-index: 9;
}

.standing-woman-2 {
  left: 17.5%;
  top: 40px;
  z-index: 8;
}

.standing-woman-3 {
  left: 11%;
  top: 110px;
  z-index: 6;
}

.standing-woman-stick {
  position: absolute;
  width: 110px;
  height: 80px;
  z-index: 20;
  left: 25px;
  top: 60px;
}

.shop-now {
  background-color: #b3b3b3;
  font-family: var(--font-1);
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  margin-top: 100px;
}

.shop-now p {
  font-size: 15px;
  font-family: var(--font-2);
  flex: 1 100%;
  text-align: center;
}

.shop-now h2 {
  margin-bottom: 30px;
}

.shop-now a,
.somos-comunidad a,
.main-section-desktop a {
  text-decoration: none;
  color: black;
  font-family: var(--font-3);
  font-size: 23px;
  border: 3px solid black;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.without-square:last-of-type {
  max-height: 580px;
}

.without-square:last-of-type > .standing-woman {
  left: 60px;
}

.standing-woman-black {
  top: 435px;
}

.standing-woman-black-1 {
  top: 485px;
  left: 130px;
}

.standing-woman-arrow {
  position: absolute;
  height: 50px;
  right: 30px;
  top: 200px;
}

.somosonica {
  color: var(--secondary-blue);
  font-size: 34px;
  position: absolute;
  z-index: 999;
  top: 73%;
  left: 46%;
}

.somosonica p {
  margin: 5px 0;
  font-size: 30px;
  font-family: var(--font-2);
  letter-spacing: 0px;
}

.somosonica-arrow {
  max-height: 70px;
  max-width: 40px;
  top: 92%;
  left: 15%;
  position: absolute;
}

.somosonica-2 .standing-woman {
  left: 20%;
  top: 25%;
}

.somosonica-2 .standing-woman-stick {
  top: 45%;
}

.somosonica-3 .standing-woman {
  left: 20%;
  top: 25%;
}

.somosonica-3 .standing-woman-stick {
  top: 45%;
}

.somosonica-4 .standing-woman {
  width: 400px;
  height: 400px;

  left: 10%;
}

.somosonica-4 .standing-woman-stick {
  left: 75%;
  top: 40%;
}

.somosonica-4 .standing-woman-cartel {
  position: absolute;
  top: 70%;
  left: 3%;
  z-index: 5;
}

@media (min-width: 800px) {
  .menu-mobile-icons {
    display: none;
  }

  .menu-desktop-icons {
    display: block;
  }
  .menu-mobile {
    flex-flow: column wrap;
    display: none;
  }

  .menu-mobile .menu-top {
    height: 100vh;
    width: 60vw;
    background-color: var(--menu-grey);
  }

  .menu-top li {
    display: flex;
    justify-content: flex-end;
  }

  .menu-top a {
    -webkit-text-stroke: 0.5px var(--secondary-blue);
    font-size: 60px;
    min-width: 290px;
    max-width: 55%;
    margin-left: auto;
  }

  .menu-top a.selected {
    color: var(--secondary-blue);
  }

  .menu-foo,
  .menu-social {
    /* width: 100%; */
    background-color: var(--secondary-blue);
  }

  .menu-bottom {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }

  .menu-foo a {
    color: var(--white);
  }

  .menu-top-bar {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: left;
  }

  .copyright {
    display: inline-block;
    margin-left: 48%;
    color: var(--secondary-blue);
    font-family: var(--font-1);
    text-align: right;
  }

  .menu-ham {
    overflow: hidden;
    margin: 20% 0 0 0;
  }
  .menu-top-bar svg {
    display: none;
  }

  .menu-top > svg {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    margin-right: 0%;
    margin-left: 48%;
    top: -48px;
  }

  .menu-top-bar p {
    color: var(--secondary-blue);
  }

  .nav-cruz {
    stroke: var(--secondary-blue) !important;
    margin-left: 15%;
  }

  .menu-bottom {
    background-color: var(--secondary-blue);
  }

  .menu-foo {
    height: 74%;
    margin: 0 0 0 70px;
  }

  .menu-foo li {
    margin: 20px 0;
  }

  .menu-foo li:first-child a {
    font-size: 25px;
    font-weight: bold;
    font-family: var(--font-3);
  }

  .menu-top li a:hover {
    color: var(--secondary-blue);
  }

  .menu-foo li:first-child {
    margin-bottom: 40vh;
  }

  .menu-social {
    margin: 0 0 0 70px;
    justify-content: left;
    height: 24.5%;
    flex: 1 100%;
    min-width: 100%;
  }

  .menu-desktop-icons {
    margin-right: 50px;
  }

  .main-mobile {
    display: none;
  }

  .main-desktop {
    display: flex;
    flex-flow: row wrap;
  }

  #logo {
    display: none;
  }

  .logo-desktop {
    display: block;
    font-family: var(--font-3);
    color: var(--secondary-blue);
  }

  .top-bar {
    /* justify-content: flex-start; */
    align-items: center;
    width: 40%;
  }

  .top-bar-desktop {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-bar-desktop a {
    color: var(--secondary-blue);
    font-family: var(--font-3);
    font-size: 18px;
  }

  .no-justify {
    justify-content: inherit;
    align-items: inherit;
  }

  .hero-desktop {
    display: flex;
    flex-flow: row wrap;
    flex: 1 100%;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }

  .chica-tenis-piso {
    display: block;
    object-fit: cover;
    width: 56.4%;
    height: auto;
    flex: 0 1;
  }

  .chica-tenis-2 {
    display: block;
    object-fit: cover;

    max-width: 30%;
    margin: 0;
    flex: 0 1;
    height: auto;
  }

  .chica-tenis-logo {
    position: absolute;
    width: 40%;
    left: 7%;
    top: 30%;
    fill: var(--white);
  }

  header {
    display: flex;
  }

  .menu-hamburguer {
    width: 25px;
  }

  .without-square:first-of-type {
    max-height: 70vh;
    height: auto;
  }

  .somos-comunidad {
    background-image: url("../imgs/silla@2x.png");
    background-size: cover;
    min-height: 980px;
  }

  .somos-comunidad-texto {
    font-family: var(--font-5);
    font-size: 1.65rem;
    text-align: center;
    width: 55%;
  }

  .somos-comunidad-texto:before {
    content: " ";
    background-color: white;
    opacity: 0.7;
    min-width: 70%;
    min-height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .somos-comunidad-boton a,
  .somos-comunidad-texto p {
    color: var(--secondary-blue);
    border-color: var(--secondary-blue);
    position: relative;
    z-index: 2;
  }

  .somos-comunidad-boton a {
    padding: 10px 20px;
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  #copyright {
    display: none;
  }

  .footer-logo {
    display: block;
    height: 200px;
    text-align: center;
    width: 30%;
  }

  .footer-logo-svg {
    position: relative;
    width: 80%;
    max-width: 200px;
    fill: var(--white);
  }

  .social {
    height: 200px;
    width: 30%;
    align-items: flex-start;
  }

  footer .social a {
    width: 100%;
    height: 100%;
  }

  footer .social img {
    flex: 0 0 100%;
    object-fit: contain;
  }

  .main-section-desktop {
    position: relative;
    min-width: 100%;
    min-height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-section-desktop-1,
  .main-section-desktop-2 {
    width: 100%;
  }

  .main-section-desktop-title {
    position: absolute;
    font-family: var(--font-1);
    font-size: 7rem;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    white-space: nowrap;
    color: var(--secondary-blue);
  }

  .main-section-desktop a {
    position: absolute;
    color: pink;
    border-color: pink;
    margin: 0 auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 30px;
  }

  .main-section-desktop-2 img,
  .main-section-desktop-1 img {
    width: 30%;
    position: absolute;
    max-width: 400px;
  }

  .main-section-desktop-1-chica-1 {
    top: 7%;
    left: 5%;
  }

  .main-section-desktop-1-chica-2 {
    right: 0;
    top: 12%;
  }

  .main-section-desktop-1-chica-3 {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
  }

  .main-section-desktop-2-chica-1 {
    right: 0;
    top: 50%;
  }

  .main-section-desktop-2-chica-2 {
    left: 25%;
    top: 75%;
    width: 50% !important;
    max-width: 500px !important;
  }

  .main-section-desktop-2-chica-3 {
    left: 0;
    top: 51%;
    width: 50% !important;
    max-width: 500px !important;
  }

  .main-section-desktop-2-flechita {
    position: absolute;
    fill: pink;
    font-size: 40px;
    width: 50px;
    left: 49.5%;
    top: 60%;
    transform: translate(-50%);
  }

  .somosonica {
    top: 70px;
    left: 50%;
    font-size: 20px;
  }

  .main-section-desktop-2-cartel-1 {
    left: 10%;
    top: 64%;
  }

  .main-section-desktop-2-cartel-2 {
    left: -7%;
    bottom: 0;
  }

  .main-section-desktop-2-cartel-3 {
    top: 42%;
    right: 10%;
  }

  .main-section-desktop-1-cartel-1 {
    left: 80%;
    width: 15% !important;
    top: 7%;
  }

  .main-section-desktop-1-cartel-2 {
    top: 23%;
    left: -10%;
  }
}
